---
layout: category
title: Case Studies
permalink: /case-studies/
unique-id: cat-case-studies
---

<div class="case-studies">
  <div class="case-studies-content">
    <p>Here I will be sharing case studies, creating short tutorials, and providing codepens and git repositories.</p>
    <ul class="post-list home-case-studies">
      {% for post in site.categories.case-studies %}
        <li>
          <h2>
            <a class="home-case-studies-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
    <h2>Tutorials</h2>
    <ul class="post-list home-case-studies">
      {% for post in site.categories.tutorials %}
        <li>
          <h2>
            <a class="home-case-studies-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
    <h2>Resources</h2>
    <ul class="post-list home-case-studies">
      {% for post in site.categories.resource %}
        <li>
          <h2>
            <a class="home-case-studies-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
