<div id="contact-menu-wrap">

  <a href="#" id="close" class="on">x</a>

  <div class="contact-top-bg-section">
    <img src="/assets/images/jarryd-wafer-portrait.png" class="contact-portrait">
  </div>

  <div class="contact-content-section page-home">
    <p>My name is Michelle Runyon and I live and work in Amsterdam. I am currently available for projects and open to full-time work opportunities, speaking engagements, and teaching opportunities. </p>
    <p>Have something that you would like to talk about? Get in touch.</p>
    <p>Michelle Runyon (signature maybe?)</p>
    <p class="contact-links">
      <a href="mailto:jarryd@growcodesigns.com">Email</a> |
      <a href="https://www.linkedin.com/in/jarryd-wafer" target="_blank">LinkedIn</a>
    </p>
  </div>
  
</div>
