{% include contact.html %}

<footer class="site-footer">

  <img src="assets/images/improveyourenglish--icon.png" class="footer--icon">

  <div class="footer-wrapper">
    <p class="footer-copy">
      <a href="/">Home</a> |
      <a href="/what-i-can-help-with.html">What I can help with</a> |
      <a href="/how-i-can-help.html">How I can help</a> |
      <a href="/qualifications.html">Qualifications</a> |
      <a href="javascript:void(0)"class="contact-page-link">Contact</a>
    </p>
    <div class="footer-right">
      <p class="footer-copy">© 2018 Improve Your English.</p>
    </div>
  </div>

</footer>
