{% include contact.html %}

<footer class="site-footer">

  <div class="wrapper">
    <p class="footer-copy">
    <a href="/">Home</a> | <a href="/case-studies/">Case Studies</a> | <a href="/tutorials/">Tutorials</a> | <a href="/ux-toolset.html">Toolset</a> | <a href="javascript:void(0)"class="contact-page-link">Connect</a><br>
    © 2017 Jarryd Wafer. This site is open source. Want to see how I built it? <a href="https://github.com/jarrydwafer/portfolio">See the source</a>.
    </p>
  </div>

</footer>
