<div class="mobile-menu">
	<div class="app-menu">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-list-item"><a href="/design-philosophy.html" class="mobile-nav-list-item-link nav-list-about">Teaching Philosophy</a></li>
      <li class="mobile-nav-list-item contact"><a href="javascript:void(0)" target="blank" class="mobile-nav-list-item-link contact-page-link">Contact</a></li>
    </ul>
  </div>
</div>

<div class="headerGraphic">
	<img src="/assets/images/improveyourenglish--logo.png">
</div>
