<div class="mobile-menu">
	<div class="app-menu">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-list-item"><a href="/design-philosophy.html" class="mobile-nav-list-item-link nav-list-about">Design Philosophy</a></li>
      <li class="mobile-nav-list-item"><a href="/case-studies/" class="mobile-nav-list-item-link nav-list-deck">Case Studies</a></li>
      <li class="mobile-nav-list-item"><a href="/ux-toolset.html" class="mobile-nav-list-item-link nav-list-toolset">UX Toolset</a></li>
      <li class="mobile-nav-list-item contact"><a href="javascript:void(0)" target="blank" class="mobile-nav-list-item-link contact-page-link">Contact</a></li>
    </ul>
  </div>
</div>
<header class="header fixed-header nav-up">
  <nav class="get-started-nav">
    <a href="/">
      <h1 class="get-started-header">Jarryd Wafer</h1>
    </a>
    <ul class="get-started-nav-list">
      <li class="get-started-nav-list-item"><a href="/design-philosophy.html" class="get-started-nav-list-item-link nav-list-about">Design Philosophy</a></li>
      <li class="get-started-nav-list-item"><a href="/case-studies/" class="get-started-nav-list-item-link nav-list-deck">Case Studies</a></li>
      <li class="get-started-nav-list-item"><a href="/ux-toolset.html" class="get-started-nav-list-item-link nav-list-toolset">UX Toolset</a></li>
      <li class="get-started-nav-list-item contact"><a href="javascript:void(0)" target="blank" class="get-started-nav-list-item-link contact-page-link">Contact</a></li>
    </ul>
    <div class="menu-icon">
      Menu
    </div>
  </nav>
</header>
