<div class="left-nav">
  <nav class="get-started-nav">
    <ul class="get-started-nav-list">
      <li class="get-started-nav-list-item"><a href="/" class="get-started-nav-list-item-link nav-list-about">Home</a></li>
      <li class="get-started-nav-list-item"><a href="what-i-can-help-with.html" class="get-started-nav-list-item-link nav-list-about">What I can help with</a></li>
      <li class="get-started-nav-list-item"><a href="how-i-can-help.html" class="get-started-nav-list-item-link nav-list-about">How I can help</a></li>
      <li class="get-started-nav-list-item"><a href="qualifications.html" class="get-started-nav-list-item-link nav-list-about">Qualifications</a></li>
      <li class="get-started-nav-list-item contact"><a href="javascript:void(0)" target="blank" class="get-started-nav-list-item-link contact-page-link">Contact</a></li>
    </ul>
    <div class="menu-icon">
      Menu
    </div>
  </nav>
</div>
