<div class="toolset-graphic">
  <div class="tsg-wrap">
    <div class="tsg-comp">
      <div class="tsg-monitor">
        <div class="tsg-mid">
          <div class="tsg-site">
            <div class="tsg-topbar">
              <div class="tsg-cerrar">
                <div class="tsg-circl"></div>
                <div class="tsg-circl"></div>
                <div class="tsg-circl"></div>
              </div>
            </div>
            <div class="tsg-inhead">
              <div class="tsg-mid">
                <div class="tsg-item"></div>
              </div>
              <div class="tsg-mid tsg-txr">
                <div class="tsg-item"></div>
                <div class="tsg-item"></div>
                <div class="tsg-item"></div>
                <div class="tsg-item"></div>
              </div>
            </div>
            <div class="tsg-inslid">
            </div>
            <div class="tsg-incont">
              <div class="tsg-item"></div>
              <div class="tsg-item"></div>
              <div class="tsg-item"></div>
              <div class="tsg-item"></div>
              <div class="tsg-wid">
                <div class="tsg-itwid">
                  <div>
                    <div class="tsg-contfoot"></div>
                  </div>
                </div>
                <div class="tsg-itwid">
                  <div>
                    <div class="tsg-contfoot"></div>
                  </div>
                </div>
                <div class="tsg-itwid">
                  <div>
                    <div class="contfoot"></div>
                  </div>
                </div>
                <div class="tsg-clearfix"></div>
              </div>
              <div class="tsg-infoot">
              </div>
            </div>
          </div>
        </div>
        <div class="tsg-mid tsg-codigo">
          <div class="tsg-line">
            <div class="tsg-item tsg-var"></div>
            <div class="tsg-item tsg-cont"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line">
            <div class="tsg-item tsg-min tsg-var"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line">
            <div class="tsg-item tsg-min tsg-var"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line">
            <div class="tsg-item tsg-var"></div>
            <div class="tsg-item tsg-atr"></div>
            <div class="tsg-item tsg-cont"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab1">
            <div class="tsg-item tsg-min tsg-atr"></div>
            <div class="tsg-item tsg-lrg tsg-fun"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-item tsg-lrg tsg-cont"></div>
            <div class="tsg-learfix"></div>
          </div>
          <div class="tsg-line tsg-tab1">
            <div class="tsg-item tsg-lrg tsg-atr"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-item tsg-min tsg-cont"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab1">
            <div class="tsg-item tsg-atr"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-item tsg-atr"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab1">
            <div class="tsg-item tsg-min tsg-atr"></div>
            <div class="tsg-item tsg-min tsg-cont"></div>
            <div class="tsg-item tsg-lrg tsg-atr"></div>
            <div class="tsg-item  tsg-fun"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab1">
            <div class="tsg-item tsg-min tsg-atr"></div>
            <div class="tsg-item tsg-lrg tsg-fun"></div>
            <div class="tsg-item tsg-lrg tsg-cont"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab1">
            <div class="tsg-item tsg-min tsg-var"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab1">
            <div class="tsg-item tsg-min tsg-var"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab2">
            <div class="tsg-item tsg-min tsg-var"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab2">
            <div class="tsg-item tsg-min tsg-atr"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab3">
            <div class="tsg-item tsg-min tsg-atr"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-item tsg-lrg tsg-fun"></div>
            <div class="tsg-item tsg-lrg tsg-cont"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab3">
            <div class="tsg-item tsg-min tsg-atr"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-item tsg-lrg tsg-atr"></div>
            <div class="tsg-item tsg-lrg tsg-cont"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab4">
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-item tsg-lrg tsg-atr"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab1">
            <div class="tsg-item tsg-atr"></div>
            <div class="tsg-item tsg-var"></div>
            <div class="tsg-item tsg-cont"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab3">
            <div class="tsg-item tsg-min tsg-var"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line tsg-tab4">
            <div class="tsg-item tsg-min tsg-atr"></div>
            <div class="tsg-item tsg-min tsg-fun"></div>
            <div class="tsg-item tsg-lrg tsg-atr"></div>
            <div class="tsg-item tsg-lrg tsg-cont"></div>
            <div class="tsg-clearfix"></div>
          </div>
          <div class="tsg-line">
            <div class="tsg-item tsg-min tsg-var"></div>
            <div class="tsg-clearfix"></div>
          </div>

        </div>
      </div>
      <div class="tsg-base">
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>
